*{
    box-sizing: border-box;
    margin: 0;  
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.habilidades{
    font-size: 30px;
}
.pokedex{
    display: flex;
    justify-content: center;
}

.pokeball{
    height: 700px;
    width: 500px;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px 0px 0px 50px;
    overflow: hidden;
    position: relative;
}

img{
    width: 200px;
}

.img-pokedex{
    border-radius: 0px 15px 15px 0px;
    width: 300px;
    height: 220px;
    background-image: linear-gradient(45deg, transparent 10%,#FFF 0% 98%, transparent 85%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contorno{
    width: 360px;
    height: 300px;
    background: linear-gradient(45deg,transparent 10%, rgb(206, 201, 201) 0%);
    border-radius: 15px 15px 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contenedor-info{
    display: flex;
    overflow: hidden;
    position: relative;
}



.pokedex-info{
    background-color: brown;
    border-radius: 0px 50px 50px 0px;
    width: 470px;
    height: 650px;
    margin-top: 50px;
    display:flex;
    align-items: center;
    justify-content: center;

}
.circulo{
    position: absolute;
    background-color: rgb(20, 107, 158);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    left: 50px; 
    top: 20px; 
    box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 0px 5px, rgba(255, 255, 255, 0.65) 0px 5px 6px -1px, rgba(255, 255, 255, 0.08) 0px 20px 0px inset;
}

.circulo-negro{
    position: absolute;
    left: 70px; 
    top: 520px;
    width: 60px;
    height: 60px;
    background-color: rgb(2, 2, 2);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px 5px, rgba(0, 0, 0, 0.65) 0px 5px 6px -1px, rgba(255, 255, 255, 0.08) 0px 20px 0px inset;
}

.pokeScreen{
    
    width: 300px;
    height: 200px;
    background-color: #FFF;

}

button{
    background-color: rgb(210, 200, 60);
    color: #FFF;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50px;
    margin-left: 50px ;
}
.button-azul{
    background-color: rgb(41, 126, 176);
    color: #FFF;
    width: 300px;
    height: 100px;
    margin-top: 10px;
}

.pokemon-name{
    position: absolute;
    left:220px; 
    top: 430px;
}

.pokemon-id{
    position: absolute;
    left:310px; 
    top: 250px;
    font-size: 30px;
    font-weight: 500px;
}
.cuadro-verde{
    position: absolute;
    left: 150px; 
    top: 610px;
    width: 170px;
    height: 60px;
    background-color: rgb(57, 189, 40);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px 5px, rgba(0, 0, 0, 0.65) 0px 5px 6px -1px, rgba(255, 255, 255, 0.08) 0px 20px 0px inset;
}

.atributos{
    display:flex;
    align-items: center;
    justify-content: center;
}
.contenedor-peso{
    width: 170px;
    height: 50px;
    background-color: rgb(41, 45, 41);
    color: darkkhaki;
    margin: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.ingreso{
    width: 170px;
    height: 50px;
    padding: 15px;
}
.contenedor-altura{
    width: 170px;
    height: 50px;
    background-color: rgb(41, 45, 41);
    color: darkkhaki;
    display:flex;
    align-items: center;
    justify-content: center;
}

.cuadro-cruz{
    position: absolute;
    width: 130px;
    height: 40px;
    left: 350px; 
    top: 570px;
    background-color: rgb(41, 45, 41);
}

.cuadro-cruz-1{
    rotate: 90deg;
    background-color: rgb(41, 45, 41);
}